{% extends "index/_base.html" %}

{% block content %}

<div class="grid grid-cols-3 gap-4 mx-2">
    <div class="col-span-2 outline outline-offset-2 outline-4 rounded-lg border border-gray-200 hover:bg-blue-100 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
        <video id="vid_holder" class="hidden w-full"></video>
        <canvas id="canvas" class="w-full h-full rounded" width="480px" height="400px"></canvas>
    </div>
    
    <div class="relative flex flex-col">
    
    <div class="relative overflow-x-auto overflow-y-auto shadow-md sm:rounded-lg h-full p-2  outline outline-offset-2 outline-4 rounded-lg border border-gray-200 hover:bg-blue-100 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
        <div class="flex items-center justify-between pb-2">
            <div>
                
            <div class="relative max-w-sm">
                <!-- <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                </div> -->
                <input id="datePicker" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
            </div>
            
            </div>

        </div>
        <table class="text-left w-full p-2">
            <thead class="bg-black flex text-white w-full rounded-lg">
                <tr class="flex w-full">
                    <th class="p-2 w-1/4">Name</th>
                    <th class="p-2 w-1/4">Morning</th>
                    <th class="p-2 w-1/4">Lunch</th>
                    <th class="p-2 w-1/4">Afternoon</th>
                </tr>
            </thead>
            <tbody id="_list" class="bg-grey-light flex flex-col items-center overflow-y-scroll w-full rounded-b" style="height: 50vh;">
                
            </tbody>
        </table>

    </div>
    <div class="bottom-0 mt-4">
        <button type="button" id="take" class="w-full uppercase py-6 px-6 mr-2 mb-2 border text-sm font-medium text-gray-900 outline outline-offset-2 outline-4 bg-blue-400 rounded-lg border border-gray-200 hover:bg-blue-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            <svg fill="none" class="inline w-7 h-7 mr-3" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 015.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 00-1.134-.175 2.31 2.31 0 01-1.64-1.055l-.822-1.316a2.192 2.192 0 00-1.736-1.039 48.774 48.774 0 00-5.232 0 2.192 2.192 0 00-1.736 1.039l-.821 1.316z"></path>
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM18.75 10.5h.008v.008h-.008V10.5z"></path>
            </svg>
            Record Attendance</button>
    </div>


        

    </div>

</div>

<div style="visibility: hidden;" class="control2">
</div>
{% endblock content %}